<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Mi Tienda -Provedores </title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
        <!-- Custom Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

    </head>

    <body>

        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->


        <!--**********************************
            Main wrapper start
        ***********************************-->
        <div id="main-wrapper">

            <!--**********************************
                Nav header start
            ***********************************-->
            <div class="nav-header">
                <div class="brand-logo">
                    <a href="index.html">
                        <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                        <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                        <span class="brand-title">
                            <img src="images/logo-text.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->

            <!--**********************************
                Header start
            ***********************************-->
            <div class="header">    
                <div class="header-content clearfix">

                    <div class="nav-control">
                        <div class="hamburger">
                            <span class="toggle-icon"><i class="icon-menu"></i></span>
                        </div>
                    </div>
                    <div class="header-right">
                        <ul class="clearfix">
                            <li class="icons dropdown">
                                <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                    <span class="activity active"></span>
                                    <img src="images/user/1.png" height="40" width="40" alt="">
                                </div>
                                <div class="drop-down dropdown-profile   dropdown-menu">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="app-profile.html"><i class="icon-user"></i> <span>Perfil</span></a>
                                            </li>
                                            <li><a href="index.html"><i class="icon-key"></i> <span>Cerrar Sesión</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->

            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="nk-sidebar">           
                <div class="nk-nav-scroll">
                    <ul class="metismenu" id="menu">
                        <li class="nav-label">Menú</li>

                        <li class="mega-menu mega-menu-sm">
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Menú</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="./Productos.html">Productos</a></li>
                                <li><a href="./Provedores.html">Provedores</a></li>
                                <li><a href="./Vendedores.html">Vendedores</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--**********************************
                Sidebar end
            ***********************************-->

            <!--**********************************
                Content body start
            ***********************************-->
            <div class="content-body">

                <div class="row page-titles mx-0">
                    <div class="col p-md-0">
                        <h4 class="card-title">Provedores</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Provedores</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->

                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="basic-form">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Nombres</label>
                                                    <input type="email" class="form-control" placeholder="Nombres" ng-model="ts.provedor.nombres">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Apellidos</label>
                                                    <input type="text" class="form-control" placeholder="Apellidos" ng-model="ts.provedor.apellidos" >
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" placeholder="Email" ng-model="ts.provedor.email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Clave</label>
                                                    <input type="password" class="form-control" placeholder="Clave" ng-model="ts.provedor.clave">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Nit Proveedor</label>
                                                    <input type="text" class="form-control" placeholder="Nit Proveedor" ng-model="ts.provedor.nitProvedores">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Dirección</label>
                                                    <input type="text" class="form-control" placeholder="Dirección" ng-model="ts.provedor.direccion">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Telefono</label>
                                                    <input type="text" class="form-control" placeholder="Telefono" ng-model="ts.provedor.telefono">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Tipo de Documento</label>
                                                    <select id="inputState" class="form-control" ng-model="ts.provedor.tipoDocumento">
                                                        <option selected="selected">Seleccione...</option>
                                                        <option>CC Cedula de ciudadania</option>
                                                        <option>TI Tarjeta de identidad</option>
                                                        <option>CE Registro civil</option>
                                                        <option>PA Pasaporte</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Numero de documento</label>
                                                    <input type="text" class="form-control" ng-model="ts.provedor.numeroDocumento">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label>Tipo de Usuario</label>
                                                    <select id="inputState" class="form-control" ng-model="ts.provedor.tipousuario">
                                                        <option selected="selected">Seleccione...</option>
                                                        <option>Provedor</option>
                                                        <option>Vendedor</option>
                                                        <option>administrador</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-dark" ng-click="ts.guardar">Guardar</button>
                                            <button type="submit" class="btn btn-dark" ng-click="ts.Limpiar">Limpiar</button>
                                            <button type="submit" class="btn btn-dark" ng-click="ts.Listar">Listar</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- /# column -->
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Lista de Provedores</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr ng-repeat="usuario in ts.usuario">
                                                <th>Documento</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Correo</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> {{usuario.numeroDocumento}}</td>
                                                <td> {{usuario.nombre}}</td>
                                                <td> {{usuario.apellido}}</td>
                                                <td> {{usuario.email}}</td>
                                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Editar" ng-click="ts.seleccionar()" ><i class="fa fa-pencil color-muted m-r-5"></i> </a></span></td>
                                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar" ng-click="ts.eliminar()"><i class="fa fa-close color-danger"></i></a></span></td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- #/ container -->
            </div>

            <!--**********************************
                Content body end
            ***********************************-->


            <!--**********************************
                Footer start
            ***********************************-->
            <div class="footer">
                <div class="copyright">
                    <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
                </div>
            </div>
            <!--**********************************
                Footer end
            
            <!-- /# column -->  ***********************************-->
        </div>

        <!--**********************************
            Main wrapper end
        ***********************************-->

        <!--**********************************
            Scripts
        ***********************************-->
        <script src="plugins/common/common.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/gleek.js"></script>
        <script src="js/styleSwitcher.js"></script>

    </body>
    <script>
                                                    var app = angular.module('login23', []);
                                                    app.controller('testcontroller', ['$http', initController]);
                                                    function initController($http) {
                                                        var controlador = this;
                                                        controlador.listar = function () {
                                                            var parametros = {opcion: "listar"};
                                                            $http({
                                                                method: 'POST',
                                                                url: 'http://localhost:8080/backendS23/controller/usuariosController.jsp',
                                                                params: parametros
                                                            }).then(function (res) {
                                                                controlador.productos = res.data;
                                                            });
                                                        }

                                                    }
    </script>

</html>